@background-start:#283534;
@background-mid: #FFF8CD;
@background-nuetral-stop: #fafafa;
@font-red: #BD2D2C;
@font-white:#FFFFF0;
@import '../../node_modules/bootstrap/less/bootstrap.less';
@import './mixins.less';

body {
    margin:0;
    padding:0;
    background: @background-mid;
    .gradient (@background-nuetral-stop 0%, @background-nuetral-stop 1%, @background-mid 65%, @background-start 100%;);
}


h3 {
    font-family: Dancing Script,stalemate, fantasy;
    color: white;
    line-height: 20px;
    margin:0;
}

.cards {
    .box-shadow (0 0 10px 1px #222222);
    background-color: #878270;
    color:#FAE8D1;
    opacity: .8;
    border-radius: 4px;
}

#content-background {
    width:100%;
    height:100%;
    overflow: hidden;
}

.circle-tags {
    font-family: Dancing Script,stalemate, fantasy;
    background-color: #B2577A;
    .border-radius(50%);
    .box-shadow (0 0 10px 1px #222222);
    padding:10px;
    width:15vw;
    height:15vw;
    text-align: center;
    vertical-align: middle;
    /* fallback for non-Flexbox browsers */
    display: inline-block;
    /* Flexbox browsers */
    .display-flexbox(center);
    font-size: 2vw;
}

#bio {
    width: 15vw;
    height:15vw;
    .cards;
}

#body-background {
    background: url(../images/trees.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
    padding: 0 10%;
}

#moon, #moon-group {
    .circle-tags;
    padding-top: 30px;
    background-color: #9DB2B1;
    position:absolute;
    .border-radius(50%);
    width:50vw;
    height:50vw;
    opacity: .9;
    .box-shadow(0 0 10px 1px #222);
    min-width: 250px;
    min-height: 250px;
}

#moon {
    top:-20vw;
    left:6vw;
}

#moon-group {
    position:fixed;
    bottom:-20vw;
    right:6vw;
    .name {
        font-size: 10vw;
        margin-bottom: 15vw;
    }
}

.inner-moon {
    .circle-tags;
    background-color: #485C5A;
    position:absolute;
    color: #FDB87A;
    .border-radius(50%);
    width:40vw;
    height:40vw;
    opacity: .7;
    min-width: 200px;
    min-height: 200px;
}
#moon .inner-moon {
    top:3vw;
    left:6vw;
}

#moon-group .inner-moon {
    bottom:3vw;
    right:5vw;
    #little-moon-6 {
        .circle-tags;
        .little-moons;
        bottom:15vw;
        left:-14vw;
        opacity: 1;

    }

    #little-moon-7{
        .circle-tags;
        .little-moons;
        bottom:35vw;
        left:-6vw;
        opacity: 1;

    }

    #little-moon-8{
        .circle-tags;
        .little-moons;
        bottom:43vw;
        left:14vw;
        opacity: 1;

    }

    #little-moon-9{
        .circle-tags;
        .little-moons;
        bottom:35vw;
        right:-6vw;
        opacity: 1;

    }

    #little-moon-10 {
        .circle-tags;
        .little-moons;
        bottom:15vw;
        right:-14vw;
        opacity: 1;

    }

}

.little-moons {
    color:antiquewhite;
    opacity: .8;
    min-width: 70px;
    min-height: 70px;
    font-size: 2.5vw;
    position: absolute;
    background-color: #9F9A85;
    .box-shadow(0 0 10px 1px #332F21);
    position: absolute;
}

#little-moon-1{
    .circle-tags;
    .little-moons;
    top:-10px;
    left:0;
}

#little-moon-2{
    .circle-tags;
    .little-moons;
    top:15vw;
    left:7vw;
}

#little-moon-3{
    .circle-tags;
    .little-moons;
    top:23vw;
    left:24vw;
}

#little-moon-4{
    .circle-tags;
    .little-moons;
    top:16vw;
    left:41vw;
}

#little-moon-5 {
    .circle-tags;
    .little-moons;
    top:-10px;
    left:48vw;
}

.name {
    font-size: 18vw;
    font-family: Dancing Script,stalemate, fantasy;
    color: #FAFAFA;
    margin-bottom:0;
    // .text-shadow(10px -3px #B3A191);
    margin-top:9vw;
}

blockquote {
    .cards;
    font-family: stalemate, fantasy;
    font-style: italic;
    font-size: 3vw;
    // margin: 0 auto;
    display: inline-block;
    position: relative;
    &:first-child {
        z-index: 10;
    }
    border-left:0;
}

sub {
    font-family: initial;
    font-size: 1vw;
}

@media(max-width:600px) {
    .name {
        font-size: 80px;
    }

    blockquote {
        font-size: 24px;
    }
    sub {
        font-size:10px;
    }

    .circle-tags {
        font-size: 13px !important;
    }

    #little-moon-5 {
        left: 250px;
    }
    #little-moon-4 {
        left: 235px;
        top:87px;
    }
    #little-moon-3 {
        left: 130px;
        top:148px;
    }
    #little-moon-2 {
        left: 18px;
        top:106px;
    }

}
