@largest-circle:rgba(101, 82, 52, 0.5);
@inner-circle: #B7769F;
@petal-circle: #7F6490;
@primary-text:#E9E4D8;
@shadow:0 0 6px 1px #585247;
@border:4px solid #E9E4D8;
@text-shadow: #648990;
@import '../../node_modules/bootstrap/less/bootstrap.less';
@import './mixins.less';

body {
    margin:0;
    padding:0;
}

#content-background {
    width:100%;
    height:100%;
    overflow: hidden;
}

.petals {
    background: url(../images/hex-background.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.circle-tags {
    font-family: Dancing Script,stalemate, fantasy;
    // background-color: @petal-circle;
    .border-radius(50%);
    width:19vmax;
    height:19vmax;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    .display-flexbox(center);
    font-size: 2vmax;

}

#body-background {
    background: url(../images/hex-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 10%;
}

#circle, #circle-group {
    .circle-tags;
    background-color: @largest-circle;
    position:absolute;
    .border-radius(50%);
    width:45vmax;
    height:45vmax;
    // .box-shadow(@shadow);
    min-width: 250px;
    min-height: 250px;
    max-width: 425px;
    max-height: 425px;
}

#circle {
    top:-20vmax;
    left:14vmax;
}

#circle-group {
    position:fixed;
    bottom:-20vmax;
    right:14vmax;
    .name {
        font-size: 12vmax;
        margin-bottom: 20vmax;
    }
}

.inner-circle {
    .circle-tags;
    background: url(../images/hex-background.svg);
    background-color: #908564;
    background-blend-mode: luminosity;
    // background-color: @inner-circle;
    background-size: 100%;
    color: @petal-circle;
    .border-radius(50%);
    height:70%;
    width:70%;
    .box-shadow(@shadow);
    border:8px solid white;

}

.inner-inner-circle {
    .circle-tags;
    // background-color: rgba(148, 10, 97, 0.5);
    height:50%;
    width:50%;
    // .box-shadow(@shadow);
    // border:1px dotted #B7769F;
}

.char1 {
    transform: rotate(-32deg);
    font-size: 20vmax;
    position:relative;
    bottom: -38px;
    .name;
}
.char2 {
    // transform: rotate(12deg);
    .name;
    font-size: 10vmax;
    position: relative;
    left: -18px;
    bottom: 15px;

}
.char3 {
    transform: rotate(-32deg);
    font-size: 20vmax;
    position:relative;
    bottom: -38px;
    // transform: rotate(-12deg);
    // font-size: 20vmax;
    // bottom: -25px;
    position:relative;

    .name;
}
.char4 {
    // transform: rotate(-12deg);
    position: relative;
    left: -18px;
    bottom: 15px;
    .name;
    font-size: 10vmax;

}


#circle .inner-circle {
    top:3vmax;
    left:6vmax;
}

#circle-group .inner-circle {
    bottom:3vmax;
    right:5vmax;

    #little-circle-6 {
        .little-circles;
        bottom: 14vmax;
        left: -15vmax;
        span:first-child {
            display:none;
        }
    }

    #little-circle-6, #little-circle-7 {
        .little-circle-inner  {
            &:hover {
                span {
                    &:first-child {
                        display: block;
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                }

            }

        }
    }



    #little-circle-7 {
        .little-circles;
        .petals;
        bottom: 33vmax;
        left: -7vmax;
        span:first-child {
            display:none;
        }

    }


    #little-circle-8 {
        .petals;
        .little-circles;
        bottom: 41vmax;
        left: 13vmax;


    }

    #little-circle-9 {
        .petals;
        .little-circles;
        bottom: 33vmax;
        right: -7vmax;


    }

    #little-circle-10 {
        .petals;
        .circle-tags;
        .little-circles;
        bottom: 14vmax;
        right: -15vmax;


    }


}

.little-circles {
    color:@primary-text;
    min-width: 70px;
    min-height: 70px;
    max-width: 170px;
    max-height: 170px;
    font-size: 2.5vmax;
    position: absolute;
    .box-shadow(@shadow);
    background-color:#E9E4D8;
    position: absolute;

    &:hover {
        background-color: transparent;
    }
    border:0px;
}

.little-circle-inner {
    color:@primary-text;
    .circle-tags;
    .petals;
    height:99%;
    width:99%;
    background-color: #908564;
    background-blend-mode: luminosity;
    font-size: 2.5vmax;
    &:hover {
        background-color: rgba(148, 10, 97, 0.5);
    }
    border: 8px solid white;

}

#little-circle-1 {
    .little-circles;
    top: 14vmax;
    left: -15vmax;
}

#little-circle-2 {
    .little-circles;
    top: 33vmax;
    left: -7vmax;


}

#little-circle-3 {
    .little-circles;
    top: 41vmax;
    left: 13vmax;


}

#little-circle-4 {
    .little-circles;
    top: 33vmax;
    right: -7vmax;


}

#little-circle-5 {
    .circle-tags;
    .little-circles;
    top: 14vmax;
    right: -15vmax;


}

.name {
    font-size: 18vmax;
    font-family: Dancing Script,stalemate, fantasy;
    color: #6D6962;
    margin-bottom:0;
    // .text-shadow(0px 2px @text-shadow);
    margin-top:9vmax;
}



@media(max-width:600px) {
    .name {
        font-size: 80px;
    }

    blockquote {
        font-size: 24px;
    }
    sub {
        font-size:10px;
    }

    .circle-tags {
        font-size: 13px !important;
    }

}

@media(min-width: 950px) {

    .name, [class*='char'] {
        font-size: 116px !important;
    }

    #circle {
        top:-180px;
        left:126px;
    }

    .inner-circle {


    #little-circle-1 {
        .little-circles;
        top: 133px;
        left: -142px;
    }

    #little-circle-2 {
        .little-circles;
        top: 313px;
        left: -66px;


    }

    #little-circle-3 {
        .little-circles;
        top: 390px;
        left: 124px;


    }

    #little-circle-4 {
        .little-circles;
        top: 313px;
        right: -66px;


    }

    #little-circle-5 {
        .circle-tags;
        .little-circles;
        top: 133px;
        right: -142px;


    }
}



    #circle-group {

        bottom: -190px !important;
        right:134px !important;

        #little-circle-6 {
            .little-circles;
            bottom: 130px !important;
            left: -140px !important;
        }

        #little-circle-7 {
            .little-circles;
            bottom: 308px !important;
            left: -65px !important;


        }

        #little-circle-8 {
            .little-circles;
            bottom: 386px !important;
            left: 120px !important;


        }

        #little-circle-9 {
            .little-circles;
            bottom: 308px !important;
            right: -65px !important;


        }

        #little-circle-10 {
            .circle-tags;
            .little-circles;
            bottom: 130px !important;
            right: -140px !important;


        }

    }


}
